body{ margin: 0; padding: 0; }
		.container{
			width: 100%;
			height: 699px;
			background: url(../images/login-help.png) no-repeat top center;
		}
		.help_btn{
			width: 24px;
			height: 24px;
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
			background: url(../images/help_icon_outline.png) no-repeat center;
		}
		.help_btn:hover{ background-image: url(../images/help_icon_hover.png) }
		.active{
			background-image: url(../images/help_icon.png)
		}

		.help_tip{
			position: absolute;
			top: 60px;
    		right: 36px;
    		animation-name: levitation;
			animation-duration: 1.5s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 6;
		}

		.blink_ball{
			display: block;
			position: absolute;
			top: 260px;
			left: 66%;
			width: 24px; 
			height: 24px;  
			background-color: #18D794;
			border-radius: 50%;
			border: 1px solid #fff;
			box-shadow: 0 0 0 0 #18D794;
			cursor: pointer;
		}

		.blink{
			animation-name: blink;
			animation-duration: 1.5s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}

		/* Chrome, Safari, Opera */
		@-webkit-keyframes blink {
		  0% {box-shadow: 0 0 0 0 #18D794; background-color: #18D794;}
		  50% {box-shadow: 0 0 20px 2px #08F5A2; background-color: #08F5A2;}
		  100% {box-shadow: 0 0 0 0 #18D794; background-color: #18D794;}
		}
		@-webkit-keyframes levitation {
			0% { top: 60px; }
			50% { top: 66px; }
			100% { top: 60px; }
		}

		.pp_details{ display: none; }
		.pp_content{ background: none !important; }